/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="url"] {
    height: 56px;
    padding: 0 10px 0 23px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--clr-base);
    border: 1px solid var(--clr-add-four);
    background-position: right 16px center;
    background-size: 18px auto;
    background-repeat: no-repeat;
    &.inp-second {
        height: 21px;
        border-color: var(--clr-second);
        border-radius: 10px;
        font-size: 10px;
        font-weight: 600;
        padding-left: 18px;
    }
    &.ico-left {
        padding-left: 54px;
        background-position: 23px center !important;
    }
    &.inp-disabled, &[disabled], &.disabled {
        pointer-events: none;
        color: fade(#C4CFE9, 50);
        background-color: #FDFDFF;
        border-color: 1px solid #EDF0F7;
        [placeholder]::-webkit-input-placeholder {color: fade(#C4CFE9, 50);}
        [placeholder]:-moz-placeholder {color: fade(#C4CFE9, 50);}
        [placeholder]::-moz-placeholder {color: fade(#C4CFE9, 50);}
        [placeholder]:-ms-input-placeholder {color: fade(#C4CFE9, 50);}
    }
    &.inp-full, &:focus {
        border-color: fade(#000, 50);
    }
    &.inp-succefull {
        background-image: url(../img/icons/ico-success.svg);
        background-position: right 13px center;
        background-size: 19px auto;
    }
    &.inp-error {
        background-image: url(../img/icons/ico-warning.svg);
        background-position: right 15px center;
        background-size: 24px auto;
        border-color: #CF3636;
    }
    &.inp-medium {
        height: 32px;
        padding-left: 9px;
        font-size: 12px;
    }
}
select, input {
    &.inp-info {
        background-image: url(../img/icons/ico-info-light.svg);
    }
}
textarea {
	height: 120px;
	padding-top: 18px;
	padding-bottom: 10px;
	max-width: 100%;
}
select {
	display: block;
	width: 100%;
	padding-right: 0;
	background-color: #fff;
	background-image: url(../img/icons/ico-arrow-select.svg);
	background-position: right 16px center;
    background-size: 11px auto;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	appearance: none!important;
	line-height: 1em;
	text-indent: 0.01px;
	text-overflow: '';
	outline: none;
    &.inp-second {
        background-image: url(../img/icons/ico-arrow-select-att.svg);
        background-position: right 14px center;
        background-size: 6px auto;
        padding-right: 28px;
        color: var(--clr-second);
    }
}
select::-ms-expand {
	display: none;
}
[placeholder]::-webkit-input-placeholder {color: fade(#000, 30);}
[placeholder]:-moz-placeholder {color: fade(#000, 30);}
[placeholder]::-moz-placeholder {color: fade(#000, 30);}
[placeholder]:-ms-input-placeholder {color: fade(#000, 30);}
.btn,
button,
input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
	min-width: 100px;
    padding: 0 21px;
    height: 40px;
    border: none;
    border-radius: 0;
    background: var(--clr-main);
    text-align: center;
    line-height: 1.15px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    &.fancybox-button {
        min-width: 0;
    }
    &.button-disabled, &[disabled], &.disabled {
        cursor: default;
        pointer-events: none;
        background: var(--clr-add-four);
        box-shadow: none !important;
    }
    &.button-large {
        height: 64px;
        font-size: 18px;
        font-weight: 600;
        &:not(.button-light) {
            box-shadow: 0px 15px 15px rgba(54, 67, 126, 0.25);
        }
        .button-ico {
            width: 24px;
            height: 24px;
            margin-left: 7px;
            img {
                max-width: 22px;
                max-height: 22px;
                min-width: 16px;
            }
        }
    }
    &.button-medium {
        height: 32px;
        font-size: 12px;
        line-height: 14px;
        padding: 0 17px;
        min-width: 87px;
        .button-ico {
            margin-right: -8px;
        }
        &.button-toggle {
            min-width: 136px;
            padding-left: 15px;
            &:before {
                background-size: 9px auto;
                right: 10px;
            }
        }
    }
    &.button-small {
        height: 24px;
        font-size: 9px;
        line-height: 12px;
        padding: 0 17px;
        min-width: 80px;
        .button-ico {
            margin-right: -8px;
            img {
                max-width: 12px;
                max-height: 12px;
            }
        }
        &.button-toggle {
            min-width: 116px;
            padding-right: 24px;
            padding-left: 12px;
            &:before {
                background-size: 9px auto;
                right: 2px;
            }
        }
    }
    &.button-vsmall {
        height: 21px;
        padding: 0 18px;
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        border-radius: 10px;
        min-width: 0;
    }
    &.button-light {
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        &.button-disabled, &[disabled], &.disabled {
            background: none;
            border: 1px solid #E9E9EA;
            color: var(--clr-add-four);
        }
        .button-ico {
            img {
                filter: brightness(1) invert(0);
            }
        }
        &:hover {
            color: #000;
            background: #fff;
            filter: brightness(0.8);
        }
    }
    &.button-danger {
        background: var(--clr-att-main);
        &:hover {
            filter: brightness(1.2);
        }
    }
    &.button-warning {
        background: var(--clr-att-second);
        &:hover {
            filter: brightness(1.2);
        }
    }
    &.button-success {
        background: var(--clr-att-third);
        &:hover {
            filter: brightness(1.2);
        }
    }
    &.button-border {
        background: none;
        border: 1px solid var(--clr-line-five);
        color: var(--clr-base);
        &.button-disabled, &[disabled], &.disabled {
            color: var(--clr-add-four);
            border-color: var(--clr-add-four);
            background: none;
        }
        &:hover {
            filter: brightness(0.8);
            color: #000;
        }
    }
    &.button-toggle {
        justify-content: space-between;
        min-width: 192px;
        padding-right: 40px;
        padding-left: 24px;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 13px;
            background: url(../img/icons/ico-arrow.svg) center no-repeat;
            background-size: 12px auto;
            margin-top: -10px;
            transition: transform ease 0.2s;
        }
        &.active {
            &:before {
                .t-rotate(-180deg);
            }
        }
    }
    .button-ico {
        width: 20px;
        height: 20px;
        position: relative;
        margin-left: 3px;
        &.ico-light {
            img {
                filter: grayscale(100%);
                opacity: 0.35;
            }
        }
        &.ico-user {
            img {
                margin-right: 20px;
                max-width: 14px;
                min-width: 14px;
            }
        }
        &.ico-back {
            img {
                .t-rotate(90deg);
                margin-right: 15px;
                max-width: 12px;
                min-width: 12px;
            }
        }
        &:last-child {
            margin-right: -5px;
        }
        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 14px;
            max-height: 14px;
            filter: brightness(0) invert(1);
        }
    }
    .button-title {
        white-space: normal;
        display: block;
        position: relative;
    }
    &:hover {
        color: #fff;
        filter: brightness(1.4);
    }
}
.btn-action-ico {
	display: block;
	position: relative;
	overflow: hidden;
	width: 40px;height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	transition: all ease 0.2s;
    box-shadow: none;
    min-width: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    &:not(.btn) {
        border: none;
        background: none;
    }
    &.btn {
        &:before, &:after, img {
            filter: brightness(0) invert(1);
        }
    }
    &.button-medium {
        min-width: 0;
        width: 32px;
        height: 32px;
        padding: 0;
        img {
            max-width: 18px;
            max-height: 18px;
        }
        &.button-menu {
            img {
                max-width: 16px;
                max-height: 16px;
            }
            &:before, &:after {
                width: 14px;
                margin-left: -7px;
            }
        }
        &.button-nav {
            &:before {
                background-size: 9px auto;
            }
        }
    }
    &.button-small {
        min-width: 0;
        width: 24px;
        height: 24px;
        padding: 0;
        img {
            max-width: 12px;
            max-height: 12px;
        }
        &.button-menu {
            img {
                max-width: 10px;
                max-height: 10px;
            }
            &:before, &:after {
                width: 10px;
                margin-left: -5px;
            }
        }
        &.button-nav {
            &:before {
                background-size: 9px auto;
            }
        }
    }
	&:before, &:after, .i, img {
		display: block;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		transition: all ease 0.2s;
	}
	&:before, &:after {
		content: "";
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto auto;
	}
    img {
        max-width: 20px;
        max-height: 20px;
    }
	&:hover {
        text-decoration: none;
        box-shadow: none;
		&:not(.btn) {
            background: none;
        }
	}
    &.button-play {
        border-radius: 50%;
    }
    &.button-soc {
        img {
            max-width: 24px;
            max-height: 24px;
        }
        &:hover {
            filter: brightness(1.2);
        }
    }
    &.button-nav {
        border-radius: 50%;
        &:before {
            background-image: url(../img/icons/ico-arrow.svg);
            background-size: 12px auto;
            .t-rotate(-90deg);
        }
        &.nav-prev {
            &:before {
                .t-rotate(90deg);
            }
        }
    }
    &.button-menu {
        img {
            max-width: 18px;
            max-height: 18px;
            width: 18px;
        }
        &:before, &:after {
            width: 16px;
            height: 2px;
            top: 50%;
            left: 50%;
            bottom: auto;
            right: auto;
            margin: -1px 0 0 -8px;
            background: #fff;
            opacity: 0;
        }
        &.active {
            img {
                opacity: 0;
            }
            &:before {
                opacity: 1;
                .t-rotate(45deg);
            }
            &:after {
                opacity: 1;
                .t-rotate(-45deg);
            }
        }
    }
    &.ico-arrow {
        &:before {
            background-image: url(../img/icons/ico-arrow.svg);
            background-size: 12px auto;
        }
        &.arrow-up {
            &:before {
                .t-rotate(180deg);
            }
        }
        &.arrow-right {
            &:before {
                .t-rotate(-90deg);
            }
        }
        &.arrow-left {
            &:before {
                .t-rotate(90deg);
            }
        }
        &.arrow-double {
            &:before {
                background-image: url(../img/icons/ico-arrow-select.svg);
                background-size: 12px auto;
            }
        }
        &.arrow-corner {
            &:before {
                background-image: url(../img/icons/ico-arrow-corner.svg);
                background-size: 8px auto;
            }
        }
    }
    &.ico-location {
        &:before {
            background-image: url(../img/icons/ico-location.svg);
            background-size: 19px auto;
        }
    }
    &.ico-phone {
        &:before {
            background-image: url(../img/icons/ico-phone.svg);
            background-size: 23px auto;
        }
    }
    &.ico-fav {
        &:before {
            background-image: url(../img/icons/ico-fav.svg);
            background-size: 24px auto;
        }
    }
    &.ico-user {
        &:before {
            background-image: url(../img/icons/ico-user.svg);
            background-size: 20px auto;
        }
    }
    &.ico-cart {
        &:before {
            background-image: url(../img/icons/ico-cart.svg);
            background-size: 26px auto;
        }
    }
    &.ico-info {
        &:before {
            background-image: url(../img/icons/ico-info.svg);
            background-size: 24px auto;
        }
    }
    &.ico-view {
        &:before {
            background-image: url(../img/icons/ico-view.svg);
            background-size: 24px auto;
        }
    }
    &.ico-rouble {
        &:before {
            background-image: url(../img/icons/ico-rouble.svg);
            background-size: 16px auto;
        }
    }
    &.ico-minus {
        &:before {
            background-image: url(../img/icons/ico-minus.svg);
            background-size: 14px auto;
        }
    }
    &.ico-plus {
        &:before {
            background-image: url(../img/icons/ico-plus.svg);
            background-size: 14px auto;
        }
    }
    &.ico-del {
        &:before {
            background-image: url(../img/icons/ico-del.svg);
            background-size: 20px auto;
        }
    }
    &.ico-trash {
        &:before {
            background-image: url(../img/icons/ico-trash.svg);
            background-size: 18px auto;
        }
    }
    &.ico-calc {
        &:before {
            background-image: url(../img/icons/ico-calc.svg);
            background-size: 22px auto;
        }
    }
    &.ico-audio {
        &:before {
            background-image: url(../img/icons/ico-audio.svg);
            background-size: 22px auto;
        }
    }
    &.ico-filter {
        &:before {
            background-image: url(../img/icons/ico-filter.svg);
            background-size: 22px auto;
        }
    }
    &.ico-fav-active, &.ico-fav.active {
        &:before {
            background-image: url(../img/icons/ico-fav-active.svg);
            background-size: 22px auto;
        }
    }
    &.ico-play {
        &:before {
            background-image: url(../img/icons/ico-play.svg);
            background-size: 14px auto;
        }
    }
    &.ico-youtube {
        &:before {
            background-image: url(../img/icons/ico-youtube.svg);
            background-size: 29px auto;
        }
    }
    &.ico-cart-full {
        &:before {
            background-image: url(../img/icons/ico-cart-full.svg);
            background-size: 29px auto;
        }
    }
    &.ico-warning {
        &:before {
            background-image: url(../img/icons/ico-warning.svg);
            background-size: 24px auto;
        }
    }
    &.ico-info-blue {
        &:before {
            background-image: url(../img/icons/ico-info-blue.svg);
            background-size: 24px auto;
        }
    }
    &.ico-error {
        &:before {
            background-image: url(../img/icons/ico-error.svg);
            background-size: 20px auto;
        }
    }
    &.ico-success {
        &:before {
            background-image: url(../img/icons/ico-success.svg);
            background-size: 20px auto;
        }
    }
    &.ico-search {
        &:before {
            background-image: url(../img/icons/ico-search.svg);
            background-size: 12px auto;
        }
    }
    &.ico-refresh {
        &:before {
            background-image: url(../img/icons/ico-refresh.svg);
            background-size: 12px auto;
        }
    }
}
.btn-action-soc-add {
    display: flex;
    align-items: center;
    padding: 13px 23px 13px 115px;
    background: #fff;
    border: 1px solid var(--clr-add-four);
    min-height: 85px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    color: fade(#000, 30);
    transition: all ease 0.2s;
    &.active {
        border-color: var(--clr-second);
        color: var(--clr-second);
        .soc-title {
            color: var(--clr-second);
        }
        .soc-link {
            a, a.link-main {
                color: var(--clr-second);
                border-bottom: 1px solid;
                &:hover {
                    border-bottom: none;
                }
            }
        }
        .btn-action-ico {
            &.button-soc {
                filter: none;
                opacity: 1;
            }
        }
    }
    .btn-action-ico {
        position: absolute;
        top: 50%;
        left: 57px;
        width: 52px;
        height: 52px;
        margin: -26px 0 0 -26px;
        &.button-soc {
            filter: grayscale(100%);
            opacity: 0.1;
            img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
            }
        }
    }
    .soc-title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin: 0 0 3px 0;
        color: #000;
        transition: color ease 0.2s;
    }
    .soc-link {
        a, a.link-main {
            border-bottom: none;
            color: fade(#000, 30);
            &:hover {
                color: var(--clr-second);
            }
        }
    }
}
.btn-action-add {
    display: inline-block;
    padding: 0 0 0 20px;
    position: relative;
    line-height: 20px;
    &:before, &:after {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        position: absolute;
        top: 10px;
        left: 5px;
        background: var(--clr-second);
        margin: -1px 0 0 -5px;
    }
    &:before {
        .t-rotate(90deg);
    }
}
.btn-action-soc {
    display: block;
    width: 52px;
    height: 52px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--clr-add-second);
    &:hover, &.active {
        color: var(--clr-second);
        .btn-action-ico {
            &.button-soc {
                filter: none;
                opacity: 1;
            }
        }
    }
    .btn-action-ico {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 52px;
        height: 52px;
        margin: -26px 0 0 -26px;
        &.button-soc {
            filter: grayscale(100%);
            opacity: 0.1;
            img {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
            }
        }
    }
    .soc-title {
        display: none;
    }
}
.btn-action-result {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    display: block;
    position: relative;
    padding: 7px 0 7px 48px;
    min-height: 32px;
    .btn-action-ico {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 17px;
        left: 15px;
        margin-top: -12px;
        img {
            max-width: 20px;
            max-height: 20px;
        }
    }
}
.btn-action-toggle {
    position: relative;
    color: #000;
    &.active {
        &:after {
            .t-rotate(180deg);
        }
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: url(../img/icons/ico-arrow.svg) center no-repeat;
        background-size: 12px auto;
        transition: transform ease 0.2s;
    }
    &.toggle-second {
        color: var(--clr-second);
        &:after {
            background-image: url(../img/icons/ico-arrow-blue.svg);
        }
    }
}
.sl-wrap~.sl-wrap {
	display: none;
}
.owl-item {
	float: left;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.owl-stage-outer,
.owl-stage {
	overflow: hidden;
}
.owl-carousel {
	touch-action: manipulation;
}
.owl-slider-outer {
	.owl-item {
		opacity: 0;
		transition: opacity ease 0.8s;
		&.active {
			opacity: 1;
		}
		&:not(.active) {
			pointer-events: none;
		}
	}
	.owl-stage, .owl-stage-outer {
		overflow: visible;
		&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
	}
}
.owl-slider-numbers-dots {
	.owl-dots {
		counter-reset: button;
		&:after {
			content: " / " attr(data-count);
			display: inline-block;
			vertical-align: middle;
		}
	}
	.owl-dot {
		display: inline-block;
		vertical-align: middle;
		width: 0;
		overflow: hidden;
		position: relative;
		font-size: 1em;
		color: inherit;
		height: auto;
		line-height: inherit;
		&.active {
			width: auto;
		}
		&:before {
			content: counter(button);
			counter-increment: button;
		}
	}
}
.owl-dots,
.owl-nav {
	&.disabled {
		display: none;
	}
}
.owl-prev, .owl-next, .owl-dot {
	background: none;
	border: none;
	border-radius: 0;
	min-width: 0;
	padding: 0;
	box-shadow: none;
	font-size: 0;
	&:hover {
		background: none;
		box-shadow: none;
	}
	&.disabled {
		display: none;
	}
}
.owl-prev, .owl-next,
.btn-slider-prev,
.btn-slider-next {
	display: block;
	width: 40px;height: 40px;
	text-indent: -999px;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.owl-prev, .btn-slider-prev {
	&:before {
		.t-rotate(180deg);
	}
}
.owl-dots {
	display: block;
	position: relative;
	line-height: 1;
	font-size: 0;
	text-align: center;
}
.owl-dot {
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	background: #000000;
	width: 10px;height: 10px;
	margin: 0 5px;
	&:hover, &.active {
		background: #000000+#222;
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
	position: relative;
	line-height: 1;
	&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
}
.frm-field {
    &>label {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 12px 0;
        .lbl-info {
            display: block;
            &:last-child {
                padding-left: 10px;
            }
        }
        .lbl-title {
            display: block;
        }
        &.lbl-error {
            .lbl-info {
                color: #CF3636;
            }
        }
    }
}
.frm-sep {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 0 44px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-add-second);
    .sep-title {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        position: relative;
        &:before, &:after {
        	content: "";
        	display: block;
        	width: 1000px;
            height: 1px;
        	position: absolute;
        	top: 50%;bottom: auto;left: 100%;
        	background: fade(#000, 10);
            margin-top: -1px;
        }
        &:before {
        	left: auto;right: 100%;
        }
    }
}
.frm-field-password {
    position: relative;
    line-height: 1;
    .btn-action-ico {
        position: absolute;
        top: 50%;
        right: 36px;
        margin: -20px -20px 0 0;
        z-index: 2;
    }
}
.frm-select-ico,
.frm-select {
	position: relative;
	display: block;
	overflow: hidden;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	label {
        display: block;
        position: relative;
        cursor: pointer;
    }
}
.frm-select-ico {
    label {
        display: flex;
        height: 52px;
        font-size: 12px;
        line-height: 15px;
        padding: 0 0 0 64px;
        align-items: center;
        transition: all ease 0.2s;
    }
    .lbl-pic {
        display: block;
        width: 52px;
        height: 52px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -26px;
        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    input {
        &:checked {
            &~label {
                background: rgba(74, 103, 176, 0.05);
                color: var(--clr-second);
            }
        }
    }
}
.frm-content {
    display: block;
    position: relative;
    line-height: 1;
    .frm-field {
        margin-bottom: 16px;
    }
    .frm-row-submit {
        margin-top: 16px;
        .btn,
        button,
        input[type="submit"] {
            width: 100%;
        }
    }
    textarea {
        height: 130px;
    }
}
.frm-field-audio {
    display: flex;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid var(--clr-add-four);
    height: 56px;
    align-items: center;
    padding: 0 10px;
    line-height: 1;
    audio {
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 0;
        
    }
    audio::-webkit-media-controls-panel {
        background: #fff;
    }

    audio::-webkit-media-controls-mute-button {
        background: url(../img/icons/ico-audio.svg) center no-repeat;
        background-size: 20px auto;
    }

    audio::-webkit-media-controls-play-button {
        background: url(../img/icons/ico-play.svg) center no-repeat;
        background-size: 10px auto;
    }

    audio::-webkit-media-controls-timeline-container {
        background: var(--clr-second);
    }

    audio::-webkit-media-controls-current-time-display {
        font-size: 8px;
        line-height: 10px;
        color: #000;
    }

    audio::-webkit-media-controls-time-remaining-display {
        font-size: 8px;
        line-height: 10px;
        color: #000;
    }
}
.frm-counter {
    display: block;
    position: relative;
    line-height: 1;
    overflow: hidden;
    border: 1px solid var(--clr-add-four);
    width: 122px;
    height: 40px;
    padding: 0 40px;
    .btn-action-ico {
        width: 40px;
        height: 38px;
        position: absolute;
        top: 0;
        left: -1px;
        border-right: 1px solid var(--clr-add-four);
        &.ico-plus {
            left: auto;
            right: -1px;
            border-right: none;
            border-left: 1px solid var(--clr-add-four);
        }
    }
    input {
        height: 38px;
        text-align: center;
        padding: 0;
        border: none;
        border-radius: 0;
        background: #fff;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
    }
}
.frm-field-range {
    .range-fields-wrap {
        display: flex;
        line-height: 1;
        position: relative;
        justify-content: space-between;
        margin-bottom: 20px;
        .field-wrap {
            max-width: 103px;
            padding: 0 10px 0 0;
            &+.field-wrap {
                padding: 0 0 0 10px;
            }
        }
    }
}
.frm-select {
    font-size: 15px;
    line-height: 20px;
    color: #545454;
    &.select-highlight {
        input:checked {
            &~label {
                background: rgba(74, 103, 176, 0.05);
                color: var(--clr-second);
                .lbl-info-second, .lbl-title {
                    color: var(--clr-second);
                }
            }
        }
        label {
            padding: 15px 24px 15px 56px;
            align-items: center;
            min-height: 62px;
            &:before, &:after {
                top: 50%;
                left: 30px;
            }
        }
        .lbl-title {
            line-height: 1.21;
            color: var(--clr-add-second);
        }
    }
    input {
        &[disabled], &.disabled {
            &~label {
                cursor: default;
                &:before {
                    background: #F6F6F6;
                }
                .lbl-count {
                    background: #BDBDBD;
                }
            }
        }
        &:checked {
            &~label {
                &:before {
                    background: var(--clr-main);
                    border: none;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    label {
        display: flex;
        justify-content: space-between;
        min-height: 20px;
        padding-left: 28px;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 20px;
            height: 20px;
            margin: -10px 0 0 -10px;
            background: #FFFFFF;
            border: 1px solid #E4E4E4;
        }
        &:after {
            opacity: 0;
            border: none;
            background: url(../img/icons/ico-check.svg) center no-repeat;
            background-size: 10px auto;
            filter: brightness(0) invert(1);
        }
    }
    .lbl-info-second {
        font-size: 10px;
        line-height: 16px;
        color: #BDBDBD;
        text-align: right;
        padding: 0 0 0 10px;
    }
    .lbl-title {
        display: block;
        flex: 1;
    }
    .lbl-count {
        display: block;
        padding: 0 8px;
        height: 16px;
        line-height: 16px;
        border-radius: 8px;
        background: var(--clr-main);
        text-align: center;
        font-size: 10px;
        color: #fff;
        font-weight: 400;
        margin-left: 6px;
    }
    .elm-help {
        display: inline-block;
        vertical-align: middle;
        margin: -2px 0 0 3px;
        width: 16px;
        height: 16px;
        &:before {
            background-size: 14px auto;
        }
    }
}
.frm-search-result-wrap {
    position: relative;
    background: #F3F4F6;
    display: none;
    flex-direction: column;
    animation: fadein ease 0.2s;
    &.active {
        display: flex !important;
    }
    &.result-history {
        .result-content-wrap {
            display: none;
        }
        .result-footer-wrap {
            display: none;
        }
        .result-history-wrap {
            overflow: auto;
            max-height: 413px;
            flex: 1;
            .history-hidden {
                display: block;
            }
        }
        a[data-result] {
            &:before {
                content: attr(data-result);
            }
        }
    }
    .result-header-wrap {
        width: 100%;
        flex-shrink: 0;
        padding: 24px 20px 10px 20px;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        justify-content: space-between;
    }
    .result-history-wrap {
        padding: 0 0 12px 0;
        display: block;
        position: relative;
        line-height: 1;
        flex-shrink: 0;
        .history-hidden {
            display: none;
        }
        ul {
            padding: 12px 0 4px 0;
            border-bottom: 1px solid fade(#000, 10);
            &:first-child {
                &:not(.history-hidden) {
                    border-bottom: none;
                    padding: 0;
                    &+ul {
                        padding-top: 0;
                    }
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .result-content-wrap {
        flex: 1;
        overflow: auto;
        padding: 24px 0 24px 0;
        border-top: 1px solid fade(#000, 10);
        max-height: 304px;
    }
    .result-footer-wrap {
        border-top: 1px solid fade(#000, 10);
        flex-shrink: 0;
        display: block;
        position: relative;
        line-height: 1;
        padding: 16px 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
    a[data-history] {
        &:before {
            content: attr(data-history);
        }
    }
}
.frm-main-search {
    display: block;
    position: relative;
    line-height: 1;
    input {
        background-color: fade(#c4c4c4, 10);
        border-color: fade(#c4c4c4, 10);
        background-image: url(../img/icons/ico-search.svg);
        background-repeat: no-repeat;
        background-size: 12px auto;
        background-position: 18px center;
        height: 40px;
        padding: 0 10px 0 44px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }
    .btn-action-ico {
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        z-index: 1;
    }
    [placeholder]::-webkit-input-placeholder {color: fade(#000, 50);}
    [placeholder]:-moz-placeholder {color: fade(#000, 50);}
    [placeholder]::-moz-placeholder {color: fade(#000, 50);}
    [placeholder]:-ms-input-placeholder {color: fade(#000, 50);}
}
body {
    .jq-selectbox.inp-second {
        vertical-align: middle;
        .jq-selectbox__dropdown {
            margin: 9px 0 0 0;
            background: #fff;
            border: 1px solid var(--clr-second);
            border-radius: 0;
            ul {
                padding: 6px 0;
                li {
                    margin: 0;
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: 600;
                    padding: 4px 10px 4px 14px;
                    color: var(--clr-second);
                    &:before {
                        display: none;
                    }
                    &.sel, &:hover {
                        color: #fff;
                        background: var(--clr-second);
                    }
                }
            }
        }
        .jq-selectbox__select {
            height: 21px;
            line-height: 19px;
            border-radius: 10px;
            border: 1px solid var(--clr-second);
            padding: 0 28px 0 17px;
            font-size: 10px;
            font-weight: 600;
            color: var(--clr-second);
            background: #fff;
            box-shadow: none;
        }
        .jq-selectbox__trigger {
            width: 20px;
            height: 20px;
            top: 50%;
            right: 19px;
            bottom: auto;
            left: auto;
            margin-top: -10px;
            margin-right: -10px;
            border: none;
            .jq-selectbox__trigger-arrow {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: url(../img/icons/ico-arrow-select-att.svg) center no-repeat;
                background-size: 6px auto;
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    }
    .ui-slider {
        height: 1px;
        background: var(--clr-add-four);
        .ui-slider-range {
            background: var(--clr-second);
        }
        .ui-slider-handle {
            display: block;
            width: 18px;
            height: 18px;
            outline: none;
            border-radius: 50%;
            background: #fff;
            border: 1px solid var(--clr-second);
            cursor: pointer;
            margin: -9px 0 0 -9px;
            top: 0;
        }
    }
}
@media (max-width: 1023px) {
    .frm-select {
        font-size: 12px;
        label {
            padding-left: 32px;
        }
    }
}
@media (min-width: 1024px) {
    .btn-action-soc {
        padding: 72px 0 0 0;
        width: auto;
        height: auto;
        .btn-action-ico {
            top: 26px;
        }
        .soc-title {
            display: block;
        }
    }
    .frm-main-search {
        input {
            padding-left: 56px;
            font-size: 12px;
            background-position: 22px center;
        }
    }
    .frm-content {
        .frm-row-submit {
            margin-top: 10px;
            .btn,
            button,
            input[type="submit"] {
            	max-width: 347px;
            }
        }
    }
}