<div class="item-catalog">
	<div class="cat-photo-wrap">
		<a href="" class="cat-photo js-bg-box">
			<img src="./img/ui-cat02.jpg" alt="" class="js-bg-photo">
		</a>
	</div>
	<div class="cat-info-wrap">
		<a href="" class="btn-action-ico ico-fav active js-btn-tgl"></a>
		<div class="cat-title-wrap">
			<div class="cat-title">Modernista <span class="cat-art">31903</span></div>
			<div class="cat-subtitle">Marburg</div>
			<div class="cat-link">
				<a href="" class="link-main">Смотреть коллекцию</a>
			</div>
		</div>
	</div>
</div>