
<!-- footer -->
<footer class="footer">
	<div class="footer-top-panel">
		<div class="inner-wrap">
			<div class="info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-fb-blue.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-inst-blue.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-vk-blue.svg" alt="">
					</a>
				</div>
				<div class="copy-wrap">
					<p>© 2003-2020 Kleister.ru. <br>Все права защищены</p>
				</div>
			</div>
			<div class="menu-outer-wrap">
				<div class="menu-wrap">
					<div class="menu-title"><a href="">Каталог</a></div>
					<ul>
						<li><a href="">Натуральные обои</a></li>
						<li><a href="">Лепнина</a></li>
						<li><a href="">Торговые марки</a></li>
						<li><a href="">Жидкие обои</a></li>
						<li><a href="">Каталог обоев</a></li>
						<li><a href="">Панели для стен</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="menu-title"><a href="">О компании</a></div>
					<ul>
						<li><a href="">О компании</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Видео</a></li>
						<li><a href="">Статьи</a></li>
					</ul>
				</div>
				<div class="menu-wrap wrap-full">
					<div class="menu-title"><a href="">Покупателям</a></div>
					<ul>
						<li><a href="">Гарантии</a></li>
						<li><a href="">Доставка и оплата</a></li>
					</ul>
					<div class="phone-wrap">
						<a href="tel:84951772941">8 (495) 177-29-41</a>
					</div>
					<div class="link-wrap">
						<a href="mailto:msk@kleister.ru" class="link-main">msk@kleister.ru</a>
					</div>
					<div class="link-wrap">
						<a href="" class="link-main">Адрес шоурума</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="footer-wrap">
				<div class="phone-wrap">
					<a href="tel:84951772941">8 (495) 177-29-41</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:89778954129">8 (977) 895-41-29</a>
				</div>
				<div class="link-wrap">
					<a href="mailto:msk@kleister.ru" class="link-main">msk@kleister.ru</a>
				</div>
				<div class="link-wrap">
					<a href="" class="link-main">Адрес шоурума</a>
				</div>
				<div class="messages-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-viber-blue.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-whatsapp-blue.svg" alt="">
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-fb-blue.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-inst-blue.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/ico-soc-vk-blue.svg" alt="">
					</a>
				</div>
			</div>
			<div class="copy-wrap">
				<p>© 2003-2020 Kleister.ru. Все права защищены</p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->